# Introduction

This notebook analysis the data structures in:
* [`raw/2021-04-10.gz`](#Airbnb-listing-data)
* [`raw/2016Census_G01_NSW_LGA.csv`](#Census-G01-data)
* [`raw/2016Census_G02_NSW_LGA.csv`](#Census-G02-data)
* [`raw/shapefile`](#Shapefile)

to design a [star schema](https://en.wikipedia.org/wiki/Star_schema).

The raw data is uploaded to Postgres with 'test_' prepended to the table names.

In [1]:
%load_ext autoreload
%autoreload 2

In [5]:
from datetime import datetime
import sqlalchemy as sa
import os
import gzip
import shutil
import requests
import pandas as pd
import geopandas as gpd
from pathlib import Path
from dotenv import (
    load_dotenv,
    find_dotenv
)
import psycopg2
from src.data.database import (
    get_connection_string
)

from airflow.operators.python import PythonOperator
from airflow.providers.postgres.operators.postgres import PostgresOperator
from airflow.providers.postgres.hooks.postgres import PostgresHook

In [31]:
load_dotenv(find_dotenv())

project_dir = Path(find_dotenv()).parent
data_dir = project_dir / 'data'
raw_data_dir = data_dir / 'raw'
interim_data_dir = data_dir / 'interim'
reports_dir = project_dir / 'reports'
references_dir = project_dir / 'references'

In [8]:
pd.set_option('display.max_columns', 100)

# Load data

In [9]:
path = raw_data_dir / '2021-04-10.gz'
listing_df = pd.read_csv(path, compression='gzip')

In [10]:
path = raw_data_dir / '2016Census_G01_NSW_LGA.csv'
g01_df = pd.read_csv(path)

In [11]:
path = raw_data_dir / '2016Census_G02_NSW_LGA.csv'
g02_df = pd.read_csv(path)

In [12]:
path = raw_data_dir / 'shapefile/LGA_2020_AUST.shp'
shape_df = gpd.read_file(path)

# Airbnb listing data

An extension to the official [data dictionary](https://docs.google.com/spreadsheets/d/1iWCNJcSutYqpULSQHlNyGInUvHg2BoUGoNRIGa6Szc4/edit#gid=982310896) shows the action to be taken for each column:
* keep
* move to another table
* drop

The file is `references\star_schema_column_actions.xlsx`.

In [13]:
listing_df.shape

(32679, 74)

In [14]:
listing_df.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,11156,https://www.airbnb.com/rooms/11156,20210410042103,2021-04-12,An Oasis in the City,Very central to the city which can be reached ...,"It is very close to everything and everywhere,...",https://a0.muscache.com/pictures/2797669/17895...,40855,https://www.airbnb.com/users/show/40855,Colleen,2009-09-23,"Potts Point, New South Wales, Australia","Recently retired, I've lived & worked on 4 con...",NaN,NaN,NaN,f,https://a0.muscache.com/im/users/40855/profile...,https://a0.muscache.com/im/users/40855/profile...,Potts Point,1.0,1.0,"['email', 'phone', 'reviews']",t,f,"Potts Point, New South Wales, Australia",Sydney,NaN,-33.86767,151.22497,Private room in apartment,Private room,1,NaN,1 shared bath,1.0,0.0,"[""Dishwasher"", ""Backyard"", ""Kitchen"", ""Shower ...",$65.00,2,180,2,2,180,180,2.0,180.0,NaN,t,29,59,89,364,2021-04-12,196,0,0,2009-12-05,2020-03-13,92.0,10.0,9.0,10.0,10.0,10.0,10.0,NaN,f,1,0,1,0,1.42
1,12351,https://www.airbnb.com/rooms/12351,20210410042103,2021-04-15,Sydney City & Harbour at the door,Come stay with Vinh & Stuart (Awarded as one o...,"Pyrmont is an inner-city village of Sydney, on...",https://a0.muscache.com/pictures/763ad5c8-c951...,17061,https://www.airbnb.com/users/show/17061,Stuart,2009-05-14,"Sydney, New South Wales, Australia","G'Day from Australia!\r\n\r\nHe's Vinh, and I'...",NaN,NaN,NaN,f,https://a0.muscache.com/im/users/17061/profile...,https://a0.muscache.com/im/users/17061/profile...,Pyrmont,2.0,2.0,"['email', 'phone', 'manual_online', 'reviews',...",t,t,"Pyrmont, New South Wales, Australia",Sydney,NaN,-33.86490,151.19171,Private room in townhouse,Private room,2,NaN,1 shared bath,1.0,1.0,"[""Microwave"", ""Patio or balcony"", ""Wifi"", ""Dis...","$14,315.00",2,7,2,2,7,7,2.0,7.0,NaN,t,0,0,0,0,2021-04-15,526,0,0,2010-07-24,2019-09-22,95.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,f,2,0,2,0,4.03
2,14250,https://www.airbnb.com/rooms/14250,20210410042103,2021-04-14,Manly Harbour House,"Beautifully renovated, spacious and quiet, our...",Balgowlah Heights is one of the most prestigio...,https://a0.muscache.com/pictures/56935671/fdb8...,55948,https://www.airbnb.com/users/show/55948,Heidi,2009-11-20,"Sydney, New South Wales, Australia",I am a Canadian who has made Australia her hom...,within a few hours,90%,79%,t,https://a0.muscache.com/im/users/55948/profile...,https://a0.muscache.com/im/users/55948/profile...,Balgowlah,2.0,2.0,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,t,"Balgowlah, New South Wales, Australia",Manly,NaN,-33.80084,151.26378,Entire house,Entire home/apt,6,NaN,3 baths,3.0,3.0,"[""Stove"", ""Dedicated workspace"", ""Iron"", ""Pati...",$470.00,5,22,5,5,22,22,5.0,22.0,NaN,t,0,0,0,122,2021-04-14,2,0,0,2016-01-02,2019-01-02,90.0,8.0,8.0,9.0,8.0,9.0,8.0,NaN,f,2,2,0,0,0.03
3,15253,https://www.airbnb.com/rooms/15253,20210410042103,2021-04-12,Unique Designer Rooftop Apartment in City Loca...,Penthouse living at it best ... You will be st...,The location is really central and there is nu...,https://a0.muscache.com/pictures/46dcb8a1-5d5b...,59850,https://www.airbnb.com/users/show/59850,Morag,2009-12-03,"Sydney, New South Wales, Australia",I am originally Scottish but I have made Sydne...,within an hour,90%,95%,f,https://a0.muscache.com/im/pictures/user/730ee...,https://a0.muscache.com/im/pictures/user/730ee...,Darlinghurst,3.0,3.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,"Darlinghurst, New South Wales, Australia",Sydney,NaN,-33.87964,151.21680,Private room in apartment,Private room,2,NaN,1 private bath,1.0,1.0,"[""Dishwasher"", ""Kitchen"", ""Shower gel"", ""Cooki...",$80.00,2,90,2,2,90,90,2.0,90.0,NaN,t,21,48,78,336,2021-04-12,367,3,0,2012-02-23,2021-03-07,88.0,10.0,9.0,10.0,10.0,10.0,9.0,NaN,t,1,0,1,0,3.30
4,44545,https://www.airbnb.com/rooms/44545,20210410042103,2021-04-13,Sunny Darlinghurst Warehouse Apartment,Sunny warehouse/loft apartment in the heart of...,Darlinghurst is home to some of Sydney's best ...,https://a0.muscache.com/pictures/a88d8e14-4f63...,112237,https://www.airbnb.com/users/show/112237,Atari,2010-04-22,"Sydney, New South Wales, Australia",Curious about the world and full of wanderlust...,NaN,NaN,NaN,t,https://a0.muscache.com/im/pictures/user/34708...,https://a0.muscache.com/im/pictures/user/34708...,Darlinghurst,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,"Darlinghurst, New South Wales, Australia",Sydney,NaN,-33.87888,151.21439,Entire loft,Entire home/apt,2,NaN,1 bath,1.0,1.0,"[""Dishwasher"", ""Kitchen"", ""Cooking basics"", ""C...",$130.00,3,365,3,3,365,365,3.0,365.0,NaN,t,0,0,0,0,2021-04-13,76,0,0,2010-10-20,2020-01-03,97.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,f,1,1,0,0,0.60

## Dimensions

* Host: some hosts have multiple properties
* Property

Confirm that prices change for a particular `host_id`; 17061.

In [22]:
listing_df.groupby('host_id').id.count()

host_id
10857        1
17061        2
17331        2
18459        1
19082        2
            ..
395175349    1
395304707    1
395864637    1
396018514    1
396020039    1
Name: id, Length: 24406, dtype: int64

In [30]:
listing_df.query('host_id == 17061')

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
1,12351,https://www.airbnb.com/rooms/12351,20210410042103,2021-04-15,Sydney City & Harbour at the door,Come stay with Vinh & Stuart (Awarded as one o...,"Pyrmont is an inner-city village of Sydney, on...",https://a0.muscache.com/pictures/763ad5c8-c951...,17061,https://www.airbnb.com/users/show/17061,Stuart,2009-05-14,"Sydney, New South Wales, Australia","G'Day from Australia!\r\n\r\nHe's Vinh, and I'...",NaN,NaN,NaN,f,https://a0.muscache.com/im/users/17061/profile...,https://a0.muscache.com/im/users/17061/profile...,Pyrmont,2.0,2.0,"['email', 'phone', 'manual_online', 'reviews',...",t,t,"Pyrmont, New South Wales, Australia",Sydney,NaN,-33.86490,151.19171,Private room in townhouse,Private room,2,NaN,1 shared bath,1.0,1.0,"[""Microwave"", ""Patio or balcony"", ""Wifi"", ""Dis...","$14,315.00",2,7,2,2,7,7,2.0,7.0,NaN,t,0,0,0,0,2021-04-15,526,0,0,2010-07-24,2019-09-22,95.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,f,2,0,2,0,4.03
16,73639,https://www.airbnb.com/rooms/73639,20210410042103,2021-04-15,Sydney City Home with Harbour Views,Come stay with Vinh & Stuart (Awarded one of A...,"Pyrmont is an inner-city village of Sydney, on...",https://a0.muscache.com/pictures/547497/8aa33a...,17061,https://www.airbnb.com/users/show/17061,Stuart,2009-05-14,"Sydney, New South Wales, Australia","G'Day from Australia!\r\n\r\nHe's Vinh, and I'...",NaN,NaN,NaN,f,https://a0.muscache.com/im/users/17061/profile...,https://a0.muscache.com/im/users/17061/profile...,Pyrmont,2.0,2.0,"['email', 'phone', 'manual_online', 'reviews',...",t,t,"Pyrmont, New South Wales, Australia",Sydney,NaN,-33.86459,151.19177,Private room in townhouse,Private room,2,NaN,1 shared bath,1.0,1.0,"[""Microwave"", ""Patio or balcony"", ""Wifi"", ""Dis...","$14,315.00",1,10,1,1,10,10,1.0,10.0,NaN,t,0,0,0,0,2021-04-15,386,0,0,2011-03-17,2019-09-22,96.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,f,2,0,2,0,3.14

In [34]:
path = references_dir / 'star_schema_column_actions.xlsx'
data_dict_df = pd.read_excel(path)
data_dict_df.head()

,Field,Type,Calculated,Description,action,table,comment
0,id,integer,NaN,Airbnb's unique identifier for the listing,keep,NaN,NaN
1,listing_url,text,y,NaN,keep,NaN,NaN
2,scrape_id,bigint,y,"Inside Airbnb ""Scrape"" this was part of",keep,NaN,NaN
3,last_scraped,datetime,y,"UTC. The date and time this listing was ""scrap...",keep,NaN,NaN
4,name,text,NaN,Name of the listing,move,property,NaN

### Property dimension

In [35]:
data_dict_df.query('table == "property"')

,Field,Type,Calculated,Description,action,table,comment
4,name,text,NaN,Name of the listing,move,property,NaN
5,description,text,NaN,Detailed description of the listing,move,property,NaN
6,neighborhood_overview,text,NaN,Host's description of the neighbourhood,move,property,NaN
7,picture_url,text,NaN,URL to the Airbnb hosted regular sized image f...,move,property,NaN
27,neighbourhood_cleansed,text,y,The neighbourhood as geocoded using the latitu...,move,property,In case the point-in-polygon method doesn't work.
29,latitude,numeric,NaN,Uses the World Geodetic System (WGS84) project...,move,property,NaN
30,longitude,numeric,NaN,Uses the World Geodetic System (WGS84) project...,move,property,NaN
31,property_type,text,NaN,Self selected property type. Hotels and Bed an...,move,property,NaN
32,room_type,text,NaN,[Entire home/apt|Private room|Shared room|Hote...,move,property,NaN
33,accommodates,integer,NaN,The maximum capacity of the listing,move,property,NaN
35,bathrooms_text,string,NaN,The number of bathrooms in the listing. \nOn t...,move,property,NaN
36,bedrooms,integer,NaN,The number of bedrooms,move,property,NaN
37,beds,integer,NaN,The number of bed(s),move,property,NaN
38,amenities,json,NaN,NaN,move,property,NaN
39,price,currency,NaN,daily price in local currency,move,property,NaN
55,number_of_reviews,integer,NaN,The number of reviews the listing has,move,property,NaN
67,license,text,NaN,The licence/permit/registration number,move,property,NaN
68,instant_bookable,boolean,NaN,[t=true; f=false]. Whether the guest can autom...,move,property,NaN

### Host dimension

In [36]:
data_dict_df.query('table == "host"')

,Field,Type,Calculated,Description,action,table,comment
8,host_id,integer,NaN,Airbnb's unique identifier for the host/user,move,host,NaN
9,host_url,text,y,The Airbnb page for the host,move,host,NaN
10,host_name,text,NaN,Name of the host. Usually just the first name(s).,move,host,NaN
11,host_since,date,NaN,The date the host/user was created. For hosts ...,move,host,NaN
12,host_location,text,NaN,The host's self reported location,move,host,NaN
13,host_about,text,NaN,Description about the host,move,host,NaN
14,host_response_time,NaN,NaN,NaN,move,host,NaN
15,host_response_rate,NaN,NaN,NaN,move,host,NaN
16,host_acceptance_rate,NaN,NaN,That rate at which a host accepts booking requ...,move,host,NaN
17,host_is_superhost,boolean [t=true; f=false],NaN,NaN,move,host,NaN
18,host_thumbnail_url,text,NaN,NaN,move,host,NaN
19,host_picture_url,text,NaN,NaN,move,host,NaN
21,host_listings_count,text,NaN,The number of listings the host has (per Airbn...,move,host,NaN
22,host_total_listings_count,text,NaN,The number of listings the host has (per Airbn...,move,host,NaN
23,host_verifications,NaN,NaN,NaN,move,host,NaN
24,host_has_profile_pic,boolean [t=true; f=false],NaN,NaN,move,host,NaN
25,host_identity_verified,boolean [t=true; f=false],NaN,NaN,move,host,NaN

# Census G01 data

In [15]:
g01_df.shape

(132, 109)

In [16]:
g01_df.head()

,LGA_CODE_2016,Tot_P_M,Tot_P_F,Tot_P_P,Age_0_4_yr_M,Age_0_4_yr_F,Age_0_4_yr_P,Age_5_14_yr_M,Age_5_14_yr_F,Age_5_14_yr_P,Age_15_19_yr_M,Age_15_19_yr_F,Age_15_19_yr_P,Age_20_24_yr_M,Age_20_24_yr_F,Age_20_24_yr_P,Age_25_34_yr_M,Age_25_34_yr_F,Age_25_34_yr_P,Age_35_44_yr_M,Age_35_44_yr_F,Age_35_44_yr_P,Age_45_54_yr_M,Age_45_54_yr_F,Age_45_54_yr_P,Age_55_64_yr_M,Age_55_64_yr_F,Age_55_64_yr_P,Age_65_74_yr_M,Age_65_74_yr_F,Age_65_74_yr_P,Age_75_84_yr_M,Age_75_84_yr_F,Age_75_84_yr_P,Age_85ov_M,Age_85ov_F,Age_85ov_P,Counted_Census_Night_home_M,Counted_Census_Night_home_F,Counted_Census_Night_home_P,Count_Census_Nt_Ewhere_Aust_M,Count_Census_Nt_Ewhere_Aust_F,Count_Census_Nt_Ewhere_Aust_P,Indigenous_psns_Aboriginal_M,Indigenous_psns_Aboriginal_F,Indigenous_psns_Aboriginal_P,Indig_psns_Torres_Strait_Is_M,Indig_psns_Torres_Strait_Is_F,Indig_psns_Torres_Strait_Is_P,Indig_Bth_Abor_Torres_St_Is_M,...,Birthplace_Elsewhere_F,Birthplace_Elsewhere_P,Lang_spoken_home_Eng_only_M,Lang_spoken_home_Eng_only_F,Lang_spoken_home_Eng_only_P,Lang_spoken_home_Oth_Lang_M,Lang_spoken_home_Oth_Lang_F,Lang_spoken_home_Oth_Lang_P,Australian_citizen_M,Australian_citizen_F,Australian_citizen_P,Age_psns_att_educ_inst_0_4_M,Age_psns_att_educ_inst_0_4_F,Age_psns_att_educ_inst_0_4_P,Age_psns_att_educ_inst_5_14_M,Age_psns_att_educ_inst_5_14_F,Age_psns_att_educ_inst_5_14_P,Age_psns_att_edu_inst_15_19_M,Age_psns_att_edu_inst_15_19_F,Age_psns_att_edu_inst_15_19_P,Age_psns_att_edu_inst_20_24_M,Age_psns_att_edu_inst_20_24_F,Age_psns_att_edu_inst_20_24_P,Age_psns_att_edu_inst_25_ov_M,Age_psns_att_edu_inst_25_ov_F,Age_psns_att_edu_inst_25_ov_P,High_yr_schl_comp_Yr_12_eq_M,High_yr_schl_comp_Yr_12_eq_F,High_yr_schl_comp_Yr_12_eq_P,High_yr_schl_comp_Yr_11_eq_M,High_yr_schl_comp_Yr_11_eq_F,High_yr_schl_comp_Yr_11_eq_P,High_yr_schl_comp_Yr_10_eq_M,High_yr_schl_comp_Yr_10_eq_F,High_yr_schl_comp_Yr_10_eq_P,High_yr_schl_comp_Yr_9_eq_M,High_yr_schl_comp_Yr_9_eq_F,High_yr_schl_comp_Yr_9_eq_P,High_yr_schl_comp_Yr_8_belw_M,High_yr_schl_comp_Yr_8_belw_F,High_yr_schl_comp_Yr_8_belw_P,High_yr_schl_comp_D_n_g_sch_M,High_yr_schl_comp_D_n_g_sch_F,High_yr_schl_comp_D_n_g_sch_P,Count_psns_occ_priv_dwgs_M,Count_psns_occ_priv_dwgs_F,Count_psns_occ_priv_dwgs_P,Count_Persons_other_dwgs_M,Count_Persons_other_dwgs_F,Count_Persons_other_dwgs_P
0,LGA10050,24662,26411,51076,1689,1594,3286,3208,3117,6328,1611,1635,3248,1695,1810,3508,3194,3299,6498,2972,3228,6205,3169,3329,6497,3045,3327,6372,2328,2573,4907,1251,1659,2913,490,841,1329,23024,24811,47832,1639,1597,3244,661,700,1363,19,15,29,12,...,2866,5540,21282,22839,44120,1634,1808,3446,21701,23328,45032,328,335,669,2933,2868,5798,1095,1167,2258,412,640,1046,618,1140,1754,7677,9423,17096,2183,2231,4413,5236,5180,10414,1649,1639,3287,1040,1036,2076,134,154,287,22056,23627,45686,2555,2523,5081
1,LGA10130,14227,15220,29449,844,825,1669,1833,1833,3667,1254,1302,2560,1369,1422,2793,1700,1761,3464,1465,1635,3100,1772,1889,3657,1713,1840,3552,1344,1400,2747,705,893,1595,220,426,649,13166,14144,27311,1062,1079,2137,1031,1076,2113,19,17,37,16,...,1869,3631,12024,12911,24937,1142,1192,2333,12156,13073,25226,230,200,433,1691,1675,3368,922,1015,1936,698,827,1518,651,924,1576,5650,6621,12270,698,731,1431,2579,2585,5166,828,828,1651,614,553,1169,37,40,77,11921,12759,24682,2409,2596,5006
2,LGA10250,20127,21658,41790,1074,997,2072,2565,2294,4856,1245,1133,2384,780,788,1571,1732,1853,3581,2207,2456,4669,2701,3060,5759,3036,3398,6434,2699,2805,5503,1437,1773,3203,655,1104,1755,18988,20545,39536,1141,1113,2251,628,670,1297,31,19,53,11,...,2446,4609,17944,19268,37214,749,832,1578,17996,19331,37330,270,280,548,2338,2113,4444,900,864,1758,178,252,423,419,881,1302,6826,7684,14511,1205,1213,2414,4690,5276,9963,1324,1526,2851,824,853,1672,43,48,92,18343,19718,38063,1813,2006,3820
3,LGA10300,1177,1115,2287,80,71,143,172,162,336,74,56,135,81,56,132,99,136,233,147,130,276,156,132,290,194,186,377,119,86,202,59,76,131,12,22,35,1113,1059,2172,57,57,114,98,96,194,0,0,0,3,...,82,144,984,915,1902,70,80,154,1017,953,1974,13,16,24,153,143,288,49,36,80,3,8,10,10,29,37,215,299,514,95,108,208,251,190,439,111,75,186,103,79,183,7,6,15,1032,990,2015,277,199,480
4,LGA10470,20695,20605,41300,1339,1209,2546,2883,2691,5571,1515,1460,2980,1604,1544,3148,2765,2399,5171,2450,2430,4878,2572,2665,5238,2477,2517,4991,1917,1951,3862,882,1137,2019,293,600,892,19480,19541,39021,1217,1066,2283,1131,1011,2146,23,28,45,27,...,1733,3565,17597,18308,35906,853,839,1695,17695,18362,36060,319,306,626,2662,2483,5147,1072,1079,2151,503,673,1178,533,921,1457,6296,7729,14024,1155,1042,2202,4664,4391,9053,1253,1223,2475,771,689,1466,45,51,98,17733,18358,36098,2905,2219,5124

# Census G02 data

In [17]:
g02_df.shape

(132, 9)

In [18]:
g02_df.head()

,LGA_CODE_2016,Median_age_persons,Median_mortgage_repay_monthly,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Average_num_psns_per_bedroom,Median_tot_hhd_inc_weekly,Average_household_size
0,LGA10050,39,1421,642,231,1532,0.8,1185,2.3
1,LGA10130,36,1393,561,250,1465,0.8,1173,2.4
2,LGA10250,48,1733,601,340,1426,0.8,1156,2.3
3,LGA10300,41,950,624,150,1438,0.8,1174,2.5
4,LGA10470,37,1670,646,280,1632,0.8,1310,2.5

# Shapefile

In [19]:
shape_df.shape

(562, 6)

In [20]:
shape_df.head()

,LGA_CODE20,LGA_NAME20,STE_CODE16,STE_NAME16,AREASQKM20,geometry
0,10050,Albury (C),1,New South Wales,305.9459,"POLYGON ((146.82130 -36.04997, 146.82138 -36.0..."
1,10180,Armidale Regional (A),1,New South Wales,7809.4405,"POLYGON ((151.32425 -30.26923, 151.32419 -30.2..."
2,10250,Ballina (A),1,New South Wales,484.9389,"MULTIPOLYGON (((153.57094 -28.87390, 153.57097..."
3,10300,Balranald (A),1,New South Wales,21690.6753,"POLYGON ((143.00432 -33.78165, 143.01538 -33.7..."
4,10470,Bathurst Regional (A),1,New South Wales,3817.8646,"POLYGON ((149.90753 -33.39968, 149.90717 -33.4..."

In [55]:
shape_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 562 entries, 0 to 561
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LGA_CODE20  562 non-null    object
 1   LGA_NAME20  562 non-null    object
 2   STE_CODE16  562 non-null    object
 3   STE_NAME16  562 non-null    object
 4   AREASQKM20  562 non-null    float64
 5   geometry    544 non-null    geometry
dtypes: float64(1), geometry(1), object(4)
memory usage: 26.5+ KB

In [57]:
shape_df.dropna(inplace=True)

In [63]:
#
shape_df.geometry

0      POLYGON ((146.82130 -36.04997, 146.82138 -36.0...
1      POLYGON ((151.32425 -30.26923, 151.32419 -30.2...
2      MULTIPOLYGON (((153.57094 -28.87390, 153.57097...
3      POLYGON ((143.00432 -33.78165, 143.01538 -33.7...
4      POLYGON ((149.90753 -33.39968, 149.90717 -33.4...
                             ...
551    MULTIPOLYGON (((132.99223 -11.08298, 132.99068...
552    MULTIPOLYGON (((129.69812 -14.80951, 129.69522...
553    MULTIPOLYGON (((131.03247 -12.05832, 131.03075...
556    POLYGON ((149.06241 -35.15916, 149.07352 -35.1...
559    MULTIPOLYGON (((167.96327 -29.07217, 167.96325...
Name: geometry, Length: 544, dtype: geometry

# Upload data to Postgres

In [37]:
conn_string = get_connection_string()

In [38]:
conn_string

'postgresql+psycopg2://airflow:airflow@postgres:5432/airflow'

In [59]:
engine = sa.create_engine('postgresql+psycopg2://airflow:airflow@postgres:5432/airflow')
engine

Engine(postgresql+psycopg2://airflow:***@postgres:5432/airflow)

In [64]:
engine.connect().execute('CREATE EXTENSION postgis;')

OperationalError: (psycopg2.errors.UndefinedFile) could not open extension control file "/usr/share/postgresql/13/extension/postgis.control": No such file or directory

[SQL: CREATE EXTENSION postgis;]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [62]:
shape_df.to_postgis(con=engine,
                    name='test_shape_df',
                    if_exists='replace')

ProgrammingError: (psycopg2.errors.UndefinedObject) type "geometry" does not exist
LINE 8:  geometry geometry(GEOMETRY,4283)
                  ^

[SQL:
CREATE TABLE public.test_shape_df (
	"LGA_CODE20" TEXT,
	"LGA_NAME20" TEXT,
	"STE_CODE16" TEXT,
	"STE_NAME16" TEXT,
	"AREASQKM20" FLOAT(53),
	geometry geometry(GEOMETRY,4283)
)

]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [39]:
df_dict = {
    'listing_df': listing_df,
    'g01_df': g01_df,
    'g02_df': g02_df,
    'shape_df': shape_df,
}
for key, df in df_dict.items():
    table_name = f'test_{key}'
    if isinstance(df, gpd.geodataframe.GeoDataFrame):
        
    else:
        df.to_sql(con=conn_string,
                  name=table_name,
                  if_exists='replace')

AttributeError: 'GeometryDtype' object has no attribute 'base'

In [41]:
# Check database
query = """
SELECT table_name
FROM information_schema.tables
WHERE table_type='BASE TABLE'
AND table_schema='public';
"""

In [42]:
pd.read_sql(con=conn_string,
            sql=query)

                       table_name
0                 alembic_version
1                      dag_pickle
2                    import_error
3                             job
4                             dag
5                      connection
6                             log
7                        sla_miss
8                 celery_taskmeta
9              celery_tasksetmeta
10        ab_permission_view_role
11                      slot_pool
12                  task_instance
13                        ab_user
14               ab_register_user
15                  ab_permission
16             ab_permission_view
17                   ab_view_menu
18                   ab_user_role
19                        ab_role
20                           xcom
21                       variable
22                      task_fail
23                 serialized_dag
24                task_reschedule
25                        dag_tag
26                        dag_run
27  rendered_task_instance_fields
28                       dag_code
29                test_listing_df
30                sensor_instance
31                     test_table
32                    test_g01_df
33                    test_g02_df